* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Concert One", cursive;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-main: rgb(20, 25, 34);
  --color-nav: rgb(8, 11, 18);
  --color-footer: rgb(40, 40, 40);
}

/* UTILITY */
/* 
____________
____________
____________
____________ */

.color-white {
  color: white;
}

.color-gray {
  color: gray;
}

.main-btn {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.7rem 2.1rem;
  border-radius: 1.5rem;
}

a {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 600;
}
.border-blue {
  border: 5px dotted blue;
}

.border-blue-2 {
  border: 5px solid blue;
}

.border-pink {
  border: 5px dotted pink;
}

.border-yellow {
  border: 5px solid yellow;
}

.border-green {
  border: 5px solid green;
}

.border-red {
  border: 5px dotted red;
}

.border-violet {
  border: 5px dotted violet;
}

.border-black {
  border: 5px dotted black;
}

.border-gray {
  border: 5px dotted gray;
}

.fixed {
  position: fixed;
}

/* FLEX */
/* 
____________
____________
____________
____________ */

/* primo */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.player-section {
  height: 75px;
  flex-shrink: 0;
  display: flex;
  /* position: fixed; */
  /* z-index: 1; */
}

/* secondo */

.main-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--color-nav);
}

.aside-nav {
  width: 150px;
  flex-shrink: 0;
  background-color: black;
  /* z-index: 1; */
}

/* terzo */

.main-col {
  flex-grow: 1;
  background-color: var(--color-main);
  overflow: scroll;
  /* z-index: 0; */
}
/* _________________________________________________ */
/* _________________________________________________ */
/* _________________________________________________ */
/* _________________________________________________ */
/* _________________________________________________ */
/* _________________________________________________ */
/* _________________________________________________ */
.upgrade {
  flex-shrink: 0;
  padding: 0.8rem 0.4rem;
}

.upgrade-container {
  display: flex;
  align-self: flex-end;
  /* z-index: 1; */
}
/* general estetic */
/* 
____________
____________
____________
____________ */
ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

li {
  color: gray;
  font-size: 0.8rem;
  font-weight: 600;
}

footer {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  background-color: rgb(60, 60, 60);
  /* z-index: 1; */
}

.filters {
  padding: 1rem 0;
  background-color: var(--color-main);
}

.row {
  margin: 1rem 1rem;
}

.col {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  width: calc(100% / 6.5); /* NON CORRETTO !! */
  aspect-ratio: 1/1;
}

h2 {
  padding-bottom: 2rem;
}

img {
  max-width: 100%;
  padding-bottom: 0.5rem;
}

h3 {
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

h4 {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
}

/* MEDIA QUERY */
/* 
____________
____________
____________
____________ */

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
