* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Concert One", cursive;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-main: rgb(20, 25, 34);
  --color-nav: rgb(8, 11, 18);
  --color-footer: rgb(40, 40, 40);
  --my-gap: 1rem;
}

/* UTILITY */
/* 
____________
____________
____________
____________ */

.color-white {
  color: white;
}

.color-gray {
  color: gray;
}

.main-btn {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.7rem 2.1rem;
  border-radius: 1.5rem;
}

a {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 600;
}
/* .border-blue {
  border: 5px dotted blue;
}

.border-blue-2 {
  border: 5px solid blue;
}

.border-pink {
  border: 5px dotted pink;
}

.border-yellow {
  border: 5px solid yellow;
}

.border-green {
  border: 5px solid green;
}

.border-red {
  border: 5px dotted red;
}

.border-violet {
  border: 5px dotted violet;
}

.border-black {
  border: 5px dotted black;
}

.border-gray {
  border: 5px dotted gray;
} */

/* FLEX */
/* 
____________
____________
____________
____________ */

/* primo */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.player-section {
  height: 75px;
  flex-shrink: 0;
  display: flex;
  /* position: fixed; */
  /* z-index: 1; */
}

/* secondo */

.main-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--color-nav);
}

/* terzo */

.main-col {
  flex-grow: 1;
  background-color: var(--color-main);
  overflow: scroll;
}
/* _________________________________________________ */
/* _________________________________________________ */
/* _________________________________________________ */
/* _________________________________________________ */
/* _________________________________________________ */
/* _________________________________________________ */
/* _________________________________________________ */
.upgrade {
  flex-shrink: 0;
  padding: 0.8rem 0.4rem;
}

.upgrade-container {
  display: flex;
  align-self: flex-end;
}
/* general estetic */
/* 
____________
____________
____________
____________ */
ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

li {
  color: gray;
  font-size: 0.8rem;
  font-weight: 600;
}

/* filters */

.filters {
  padding: 1rem 0;
  background-color: var(--color-main);
}

.underline-green {
  border-bottom: 2px solid greenyellow;
}
/* main music section  */
/* 
____________
____________
____________
____________ */

.row {
  margin: 1rem 1rem;
}

.col {
  display: flex;
  flex-wrap: wrap;
  gap: var(--my-gap);
  margin-bottom: 2rem;
}
.card {
  width: calc((100% / 6) - var(--my-gap));
  aspect-ratio: 1/1;
}

h2 {
  padding-bottom: 2rem;
}

/* IMMAGINI SI SOVRAPPONGONO */
.card img {
  /* max-width: 200px;
  min-width: 200px; */
  /* height: auto; */
  width: 100%;
  padding-bottom: 0.5rem;
}

.rounded-img {
  border-radius: 50%;
}

h3 {
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

h4 {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
}

.sub-col-3 {
  text-align: left;
  margin-top: -1.5rem;
  padding-bottom: 2rem;
}

/* aside section  */
/* 
____________
____________
____________
____________ */

.aside-nav {
  flex-shrink: 0;
  background-color: black;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: var(--my-gap);
  padding-bottom: var(--my-gap);
  padding-right: calc(var(--my-gap) * 2);
}

.logo img {
  height: 40px;
  margin-bottom: 2rem;
}

.playlist-ul li {
  padding-right: 5rem;
}

.ul-aside-1 i {
  font-size: 1.5rem;
}

.ul-aside ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.ul-aside-2 {
  flex-grow: 1;
  overflow: auto;
}

.aside-nav span {
  display: block;
}

hr {
  margin-top: 0.8rem;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.li-home {
  border-left: 3px solid greenyellow;
}

.padding-1 {
  padding: 1rem 0;
}

.padding-orizzontal {
  padding: 0 1rem;
}

.padding-tot {
  padding: 1rem 1rem;
}

.fa-plus {
  background-color: gray;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: black;
  margin: 0 1rem;
}

.install-app {
  font-size: 0.8rem;
}

.fa-arrow-down {
  font-size: 0.5rem;
  margin-right: 0.8rem;
  padding: 2px 2px;
  border: 1px solid gray;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.fa-user {
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.3rem;
  margin-right: 0.5rem;
}
/* footer */
/* 
____________
____________
____________
____________ */

footer {
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem 1rem;
  background-color: rgb(60, 60, 60);
}

/* left */

.player-left {
  display: flex;
  align-items: center;
  gap: var(--my-gap);
}

.player-left img {
  height: 50px;
}

/* center */

.player-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
}

.footer-mid-top i {
  padding: 0 0.5rem;
}

.fa-circle-play {
  font-size: 1.3rem;
}

.footer-mid-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--my-gap);
  padding: 0.8rem 0;
  margin-bottom: 0.8rem;
}

.line {
  /* border: 2px solid; */
  background-color: gray;
  border-radius: 1px;
  max-width: 100%;
  width: 35vw;
}

.line-s {
  border: 2px solid;
  border-radius: 1px;
  max-width: 100%;
  width: 25%;
}

.minutes {
  font-size: 0.7rem;
  font-weight: 600;
}
/* right  */

.player-right {
  display: flex;
  align-items: center;
  gap: var(--my-gap);
}

.player-right i {
  font-size: 0.7rem;
}

.small-line-gray {
  background-color: gray;
  border-radius: 1px;
  max-width: 100%;
  width: 10vw;
  height: 4px;
}

.small-line-white {
  background-color: white;
  border-radius: 1px;
  max-width: 100%;
  width: 25px;
  height: 4px;
}
/* MEDIA QUERY */
/* 
____________
____________
____________
____________ */

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .card {
    width: calc((100% / 4) - var(--my-gap));
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  .card {
    width: calc((100% / 2) - var(--my-gap));
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 440px) {
}
